name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag extvos/alpine:latest
    - name: Login to Docker Hub
      run: docker login -u ${{ secret.DOCKER_HUB_USER }} -p ${{ secret.DOCKER_HUB_TOKEN }}
    - name: Push to Docker Hub
      run: docker push extvos/alpine:latest